var _____WB$wombat$assign$function_____ = function(name) {return (self._wb_wombat && self._wb_wombat.local_init && self._wb_wombat.local_init(name)) || self[name]; };
if (!self.__WB_pmw) { self.__WB_pmw = function(obj) { this.__WB_source = obj; return this; } }
{
  let window = _____WB$wombat$assign$function_____("window");
  let self = _____WB$wombat$assign$function_____("self");
  let document = _____WB$wombat$assign$function_____("document");
  let location = _____WB$wombat$assign$function_____("location");
  let top = _____WB$wombat$assign$function_____("top");
  let parent = _____WB$wombat$assign$function_____("parent");
  let frames = _____WB$wombat$assign$function_____("frames");
  let opener = _____WB$wombat$assign$function_____("opener");

/*
 * Stop it, EC!
 */
$('#notification-markall').click(function (evt) {
	$.ajax({
		type: "POST",
		url: "/forum/api/notifications/allread"
	});

	location.reload();

	evt.preventDefault();
	return false;
});

$('.notification-link').click(function (evt) {
	evt.preventDefault();

	$.ajax({
		type: "POST",
		url: "/forum/api/notifications/oneread",
		data: {
			id: $(this).data('notify-id')
		}
	});

	window.location = $(this).attr('href');

	return false;
});

}
/*
     FILE ARCHIVED ON 03:58:58 Feb 11, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:00:13 Jul 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 176.504
  exclusion.robots: 0.284
  exclusion.robots.policy: 0.268
  cdx.remote: 0.09
  esindex: 0.013
  LoadShardBlock: 142.617 (3)
  PetaboxLoader3.datanode: 81.028 (5)
  PetaboxLoader3.resolve: 124.666 (4)
  load_resource: 85.935 (2)
*/
Ask AI to edit or generate...
