var _____WB$wombat$assign$function_____ = function(name) {return (self._wb_wombat && self._wb_wombat.local_init && self._wb_wombat.local_init(name)) || self[name]; };
if (!self.__WB_pmw) { self.__WB_pmw = function(obj) { this.__WB_source = obj; return this; } }
{
  let window = _____WB$wombat$assign$function_____("window");
  let self = _____WB$wombat$assign$function_____("self");
  let document = _____WB$wombat$assign$function_____("document");
  let location = _____WB$wombat$assign$function_____("location");
  let top = _____WB$wombat$assign$function_____("top");
  let parent = _____WB$wombat$assign$function_____("parent");
  let frames = _____WB$wombat$assign$function_____("frames");
  let opener = _____WB$wombat$assign$function_____("opener");

!function(){"use strict";function e(e){try{if("undefined"==typeof console)return;"error"in console?console.error(e):console.log(e)}catch(e){}}function t(e){return i.innerHTML='<a href="'+e.replace(/"/g,"&quot;")+'"></a>',i.childNodes[0].getAttribute("href")||""}function r(e,t){var r=e.substr(t,2);return parseInt(r,16)}function n(n,o){for(var c="",a=r(n,o),i=o+2;i<n.length;i+=2){var f=r(n,i)^a;c+=String.fromCharCode(f)}try{c=decodeURIComponent(escape(c))}catch(l){e(l)}return t(c)}var o="/cdn-cgi/l/email-protection#",c=".__cf_email__",a="data-cfemail",i=document.createElement("div");!function(){for(var t=document.getElementsByTagName("a"),r=0;r<t.length;r++)try{var c=t[r],a=c.href.indexOf(o);a>-1&&(c.href="mailto:"+n(c.href,a+o.length))}catch(i){e(i)}}(),function(){for(var t=document.querySelectorAll(c),r=0;r<t.length;r++)try{var o=t[r],i=o.parentNode,f=o.getAttribute(a);if(f){var l=n(f,0),u=document.createTextNode(l);i.replaceChild(u,o)}}catch(d){e(d)}}()}();


}
/*
     FILE ARCHIVED ON 03:58:58 Feb 11, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:41:53 Jul 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 516.161
  exclusion.robots: 0.209
  exclusion.robots.policy: 0.197
  cdx.remote: 0.059
  esindex: 0.011
  LoadShardBlock: 466.731 (3)
  PetaboxLoader3.datanode: 214.166 (5)
  load_resource: 531.333 (2)
  PetaboxLoader3.resolve: 479.706 (2)
*/
Ask AI to edit or generate...
