var _____WB$wombat$assign$function_____ = function(name) {return (self._wb_wombat && self._wb_wombat.local_init && self._wb_wombat.local_init(name)) || self[name]; };
if (!self.__WB_pmw) { self.__WB_pmw = function(obj) { this.__WB_source = obj; return this; } }
{
  let window = _____WB$wombat$assign$function_____("window");
  let self = _____WB$wombat$assign$function_____("self");
  let document = _____WB$wombat$assign$function_____("document");
  let location = _____WB$wombat$assign$function_____("location");
  let top = _____WB$wombat$assign$function_____("top");
  let parent = _____WB$wombat$assign$function_____("parent");
  let frames = _____WB$wombat$assign$function_____("frames");
  let opener = _____WB$wombat$assign$function_____("opener");

/*
 * Stop it, EC!
 */
$.ajaxSetup({
	headers: {
		'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
	}
});

setInterval(function() {
	$.ajax({
		type: "POST",
		url: "/forum/api/user/aliveping"
	});
}, 50000);

}
/*
     FILE ARCHIVED ON 03:58:58 Feb 11, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:42:48 Jul 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 137.365
  exclusion.robots: 0.199
  exclusion.robots.policy: 0.189
  cdx.remote: 0.062
  esindex: 0.009
  LoadShardBlock: 107.462 (3)
  PetaboxLoader3.datanode: 77.399 (5)
  load_resource: 138.487 (2)
  PetaboxLoader3.resolve: 94.435 (2)
*/
Ask AI to edit or generate...
